<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>loginfail</title>
</head>
<body>
  <h1>Login was unsuccessful. Please try again.</h1>
  <div class = "p-2">
      <button id="submit" type="submit" class="btn btn-primary" onclick="history.go(-1);">Go back</button>
  </div>
</body>
</html>