<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Wish 1</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter a wish">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Wish 2</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter a wish">
  </div>
</form>
</body>
</html>