<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-P1VymmlkgfZGwEKtA5pDfHvz8aj1JpYj9oJdrnZwsxvJ91ZhUL+M1zQnQ2q3Bv6y" crossorigin="anonymous">
</head>

<body>
<div class="container my-5">
    <h1 class="text-center">Your wishlist</h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-dark">
            <tr>
                <th>Item names</th>
                <th>Delete</th>
                <th>Update</th>
                <th>Save</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="wishlist : ${wishList}">
                <td th:text="${wishlist.name}"></td>
                <td>
                    <form th:action="@{/wishlist/delete/{id}(id=${wishlist.id})}" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
                <td>
                    <button type="button" class="btn btn-warning" th:onclick="|window.location.href='@{/wishlist/update/{id}(id=${wishlist.id})}'|">Update</button>
                </td>
                <td>
                    <form th:action="@{/wishlist/save/{id}(id=${wishlist.id})}" method="post">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-FAhp+wA+HmOWRmVEtvoJ4l4w4fe/4xpYSj+pkIzDDJX+CD1S2ZLhnNk+TJ+c4zny" crossorigin="anonymous"></script>
</body>

</html>
